//COLORS
$color-blue: #21a2f5;
$color-dark-blue: #1b88cd;
$color-grey: #494d60;
$color-danger: #FF0000;


// INPUTS
$color-input-border: #e3e6ef;
$color-input-focus: $color-blue;
$color-input-title: $color-grey;
$color-input-subtitle:  #9299b8;

//CHECKBOX
$color-checkbox-text:$color-grey;
$color-checkbox-accent: $color-blue;

// BUTTONS
$color-button-hover-blue: $color-dark-blue;
$color-button-hover-grey: #cfd5e4;
$color-button-grey: #f3f5fb;
$color-button-blue: $color-blue;
$color-button-white-text: #fff;
$color-button-grey-text: $color-grey;

//
$color-border: #CDCDCD;

