p {
    margin: 0;
  }
  a {
    text-decoration: inherit;
  }
  
  body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
  }
  
  #app {
    max-width: 1280px;
    margin: 57px auto;
    padding: 2rem;
    text-align: center;
  }
  